
        
    /* all of the general styling */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            background-image: url(Images/WhiteDuckGreyBackground.png);
            background-repeat: repeat;
            font-family: 'Rethink Sans', sans-serif;
        }
        
        
        
        /* makes the header and places the background image for the header */
        header {
            background-color: #bf2d2d;
            background-image: url(Images/WhiteGooseHeader5.png);
            color: #fff;
            padding: 10px;
            font-size: 25px;
            text-align: center;
        }
        /* positions the logo on the screen */

        #logo {
            float: left;
            aspect-ratio: 1/1;
            height: 200px;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 200;
            bottom: 320;
        }
        /* navigation menu in the header styling */
        nav {
            display: flex;
            justify-content: center;
        }

        nav a {
            text-decoration: none;
            color: #bf2d2d;
            font-weight: bold;
            padding: 10px 20px;
            margin: 0 10px;
            font-size: 20px;
            background-color: #f5f5f5;
        }

        /* styling of the footer */
        footer {
            display: flex;
            justify-content: space-evenly;
            background-color: #362517;
            color: #b35f32;
            margin-top: 10px;
        }


        



        /* for the contact page the subheadings have a style to create it */
        .contactdivide {
            width: 30%;
            font-size: 30px;
            display: flex;
            align-items: left;
            color: #bf2d2d;
            margin-top: 30px;
          }
          
          .contactdivide::after {
            flex: 1;
            content: '';
            padding: 3px;
            background-color: #bf2d2d;
            margin: 5px;
          }
          .contactdivide::before {
            flex: 0;
            content: '';
            padding: 13px;
            background-color: #bf2d2d;
            margin: 5px;
          }



    /* For the index page, these are all of the elements*/

        /* Top Images*/ 
        #TopImages {
            margin: 20px;
            display: flex;
            justify-content: space-around;
        }

        .New img {
            width: 100%;
        }
        .New {
            width: 30%;
        }
        .content {
            margin-top: -10px;
            padding-right: 80px;
            text-align: center;
            align-self: center;
        }
        .content a {
                text-decoration: none;
                color: #bf2d2d;
                font-weight: bold;
        }


        /* Middle Images*/

        .MiddleImages {
            width: 70%;
            padding-left: 230px;

        }
        .MiddleImages img {
            width: 100%;
            height: 100%;
            align-content: center;
            z-index: -1;
        }
        .MiddleImages p {
            margin-top: -150px;
            margin-left: 800px;

        }

        /* Bottom Images*/

        #Last {
            margin: 100px;
            display: flex;
            justify-content: space-between;
            padding-right: 340px;
            
        }
        .LastImages {
            width: 35%;
    
        }
        .LastImages img {
            width: 175%;
            height: 95%;
        }

     
/* For the foods pages (indian.html, italian.html, and mexican.html), these are all of the elements*/

        /* Navigations of the three cuisines*/
        .cuisines nav {
            display: flex;
            justify-content: center;
        }

        .cuisines nav a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            padding: 20px 20px;
            margin: 10px 10px;
            font-size: 20px;
            background-color: #bf2d2d;
        }

        /*The dividers in the pages (appetizer, entrees, and drinks*/    

        
        .divider {
            width: 30%;
            font-size: 30px;
            display: flex;
            align-items: left;
            color: #bf2d2d;
          }
          
          .divider::after {
            flex: 1;
            content: '';
            padding: 3px;
            background-color: #bf2d2d;
            margin: 5px;
          }
          .divider::before {
            flex: 0;
            content: '';
            padding: 13px;
            background-color: #bf2d2d;
            margin: 5px;
          }

        /* How all of the menu images will be displayed*/
        
        #MenuImage {
            margin: 10px;
            display: flex;
            justify-content: left;
        }

        /* styling of the images*/

        .ImagesMenu img {
            width: 90%;
        }
        .ImagesMenu {
            width: 25%;
            height: 25%;
        }

        /* text of the image */
        .menucontent {
            margin-top: -10px;
            padding-right: 100px;
            text-align: center;
            align-self: center;
        }




/* All of the elements in the contacts page */

        iframe {
            margin-left: 8px;
            margin-top: 20px;
        }

        /* this is moving google maps to the left */

      #locations{
        display: flex;
        justify-content: left;
      }

      
      /* this puts the header on top of the section */
      .locationstext h2 {
        padding-top: 50px;
        padding-left: 275px;
        text-align: center;
        color: #31406e;
        font-weight: bold;
        text-transform: uppercase;
        
      }
      /* makes the background this color for the reviews section */
      #reviews {
        background-color: #e8d4c3;

      }
      /* user comments have padding */

      .users {
        padding-bottom: 40px;
        padding-left: 20px;
      }

      .users h3 {
        color: #31406e;
      }

      #about {
        padding-left: 10px;
      }